/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  font-size: 18pt;
}

h1 {
  font-size: 24pt;
  font-weight: bold;
}

h2 {
  font-size: 18pt;
  font-weight: bold;
}

starbutton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

textarea {
  width: 100%;
  height: 150px;
  background-color: #e8f0fe;
  /* 
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none; */
}

.error-message {
  font-size: 14pt;
  color: #FF5A5F;
}

/* .fa-star,
.fa-solid,
.fa-star {
  height: 5px;
  width: 5px;
} */

/***** modal *****/
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 9px;
}

/***** AppHeader *****/
.home-logo {
  height: 50px;
  width: 50px
}

.spotform-usermenu-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

/*profile button*/
.dropdown {
  position: relative;
  /* background-color: burlywood; */
  margin-right: 20px;
}

.profile-button {
  display: block;
  border-radius: 20px;
  padding: 15%;
  cursor: pointer;
  background-color: white;
  color: rgb(109, 109, 109);
  border-color: rgb(206, 206, 206, 0.4);
}

.profile-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;

}

/* profile dropdown */
.profile-dropdown {
  width: 160px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -20px;
  top: calc(100% + .55rem);
  /* gap: 10px; */
  background-color: white;
  /* padding-bottom: .35rem; */
  /* border-radius: .25rem; */
  box-shadow: 0 2px 5px 0 gray;
}

.dropdown-content {
  font-size: 14pt;
  padding: .20rem .55rem;
}

.logout-button-container {
  display: flex;
  justify-content: center;
  border-top: 2px solid gray;
}

.manage-spot-link {
  border-top: 2px solid gray;
}

.logout-button {
  display: block;
  border-radius: 20px;
  padding: 5%;
  font-size: 10pt;
  cursor: pointer;
  background-color: #999999;
  color: white;
  border-color: #999999;
}

/* login form */
.button-container {
  width: 100px;
  height: 30px;
}

.delete-spot-form-container,
.delete-review-form-container,
.login-form-container,
.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 9px;
  margin: 10px;
}

label,
input {
  display: block;
  width: 100%;
  margin-bottom: 0.2rem;
}

input {
  background-color: #e8f0fe;
}

.login-form,
.signup-form,
.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 500px;
  border-radius: 15px;
}

.delete-spot-button,
.cancel-delete-spot-button,
.cancel-delete-review-button,
.delete-review-button,
.login-form-submit-button,
.signup-form-submit-button,
.review-form-submit-button {
  display: block;
  width: 100%;
  margin-top: 0.4rem;
  height: 45px;
  background-color: #FF5A5F;
  color: white;
}

.disabled-button,
.cancel-delete-spot-button,
.cancel-delete-review-button {
  background-color: rgb(109, 109, 109);
}

.login-demo-user {
  text-decoration: underline;
  margin-bottom: 20px;
}


/* home button */
.home-icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FF5A5F;
}

.home-icon-text {
  font-size: 20pt;
  font-weight: bold;
}

.home-logo {
  display: block;
}

.app-header {
  border-bottom: 2px solid lightgray;
  width: 100%vw;
  height: 70px;

}

.app-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(174, 247, 222); */
  height: 70px;
  margin: 0 20px;
}

/* .AppHeader-create-a-spot-link {
  color: "blue";
  text-decoration: "none";
} */



/***** Landing Page *****/
/*****Spots*****/

.Spots-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  gap: 10px;
  font-size: 10px;
}

.Landing-page-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Landing-page {
  width: 80%;
  margin: 60px;
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.Spots-photo-container {
  border-radius: 9px;
  width: 270px;
  height: 250px;
  overflow: hidden;
}

.Spots-photo {
  object-fit: cover;
  width: 270px;
  height: 250px;
}

.Spots-info-text-container {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.small-text {
  font-size: 18px;
}

.Spots-price {
  display: flex;
  justify-content: flex-start;
  width: 270px;
}

/***** new-spot-form *****/
.new-spot-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-spot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 500px;
  border-radius: 15px;
}

.SpotDetail-all-outer-container {

  width: 100%vw;
  /* min-width: 1000px; */
  padding: 60px;
}

.SpotDetail-all-container {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SpotDetail-page-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.SpotDetail-all-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 980px;
}

.SpotDetail-all-photo-box {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: 30px 1%;
  height: 420px;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.SpotDetail-photo-big-box {
  height: 420px;
  grid-area: 1/1/3/3;
  overflow: hidden;
}

.Spots-photo-big {
  height: 420px;
  object-fit: contain;

}

.Spots-photo-small {
  height: 205px;
  object-fit: contain;
}

.SpotDetail-photo-small-box-1 {
  overflow: hidden;
  /* width: 50%; */
  height: 205px;
  grid-area: 1/3/2/4;
}

.SpotDetail-photo-small-box-2 {
  overflow: hidden;
  /* width: 50%; */
  height: 205px;
  grid-area: 1/4/2/5;
}

.SpotDetail-photo-small-box-3 {
  overflow: hidden;
  /* width: 50%; */
  height: 205px;
  grid-area: 2/3/3/4;
}

.SpotDetail-photo-small-box-4 {
  overflow: hidden;
  /* width: 50%; */
  height: 205px;
  grid-area: 2/4/3/5;
}

.spot-detail-price-star-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-bottom: #999999;
  margin: 15px 60px;
}

.spot-detail-price-star-reserve-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
  height: 70px;
  box-shadow: 0 2px 5px 0 black;

  padding: .75rem 2rem;
  border-radius: 9px;
}

.spot-detail-price-star-box {
  display: flex;
  justify-content: space-between;
}

.spot-detail-star-review-container {
  display: flex;
  justify-content: start;
}

.spot-detail-star-review-button-box {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 2px solid gray;

}

.spot-detail-star-review-box {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  gap: 7px;


}

.spot-detail-review-container {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spot-detail-review-detail-box {
  width: 100%;
  padding: 0 5%;
}

.spot-detail-review-detail {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Spots Current */
.Spots-current-price {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

/******SpotCurrent*******/

.SpotCurrent-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SpotCurrent-header-text {
  width: 80%;
  margin-top: 60px;
  display: flex;
}



/*****Review Form Modal*****/
.review-form-header {
  padding: 10px;

}

/* .SpotCurrent-header-box {} */

/* .SpotDetail-small-photo1 {
  grid-area: 3/1/4/2;
}

.SpotDetail-small-photo2 {
  grid-area: 3/1/4/2;
}

.SpotDetail-small-photo3 {
  grid-area: 3/1/4/2;
}

.SpotDetail-small-photo4 {
  grid-area: 3/1/4/2;
} */

.review-current-detail-box {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}